<div id="<%= dom_id helper %>">
  <p>
    <strong>Occupation:</strong>
    <%= helper.occupation %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= helper.summary %>
  </p>

  <p>
    <strong>User:</strong>
    <%= helper.user_id %>
  </p>

</div>
